<div class="admin-sidebar">
    <div class="logo">
        <img src="../../../assets/images/logo.png" />
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/"><i class="pi pi-home"> Dashboard</i></a>
            </li>
            <li>
                <a routerLink="products"
                    ><i class="pi pi-briefcase"> Products</i></a
                >
            </li>
            <li>
                <a routerLink="categories"
                    ><i class="pi pi-list"> Categories</i></a
                >
            </li>
            <li>
                <a routerLink="orders"
                    ><i class="pi pi-shopping-cart"> Orders</i></a
                >
            </li>
            <li>
                <a routerLink="users"><i class="pi pi-users"> Users</i></a>
            </li>
            <li>
                <a class="logout"
                    ><i class="pi pi-sign-out" (click)="logoutUser()">
                        Logout</i
                    ></a
                >
            </li>
        </ul>
    </div>
</div>
