<div class="admin-page">
    <p-card header="Users" subheader="List of all users">
        <div class="grid">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <p-button
                            label="new"
                            icon="pi pi-plus"
                            styleClass="p-button-success"
                            routerLink="form"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table
                    [value]="users"
                    styleClass="p-datatable-gridlines"
                    [tableStyle]="{ width: '100%' }"
                    [paginator]="true"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 50]"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name" style="width: 20%">
                                Name <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th>Email</th>
                            <th>Is Admin</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <p-tag
                                    *ngIf="user.isAdmin"
                                    severity="success"
                                    icon="pi pi-check"
                                    [rounded]="true"
                                ></p-tag>
                                <p-tag
                                    *ngIf="!user.isAdmin"
                                    severity="danger"
                                    icon="pi pi-times"
                                    [rounded]="true"
                                ></p-tag>
                            </td>
                            <td>{{ getCountryName(user.country) }}</td>
                            <td>
                                <p-button
                                    icon="pi pi-trash"
                                    styleClass="p-button-danger"
                                    class="mr-2"
                                    (click)="deleteUser(user.id)"
                                ></p-button>
                                <p-button
                                    icon="pi pi-pencil"
                                    styleClass="p-button-success"
                                    (click)="updateUser(user.id)"
                                ></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
></p-confirmDialog>
